* {
    margin-left: 50px;
    margin-right: 50px;
}
#d1 {
    background-color: gray;
    color: white;
    align-items: center;
    height: 300px;
    justify-content: center;
    display: flex;
}

#d2 {
    color: white;
    background-color: black;
    height: 90px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#d2 li {
    display: inline;
    margin: 50px
}

#d3 {
    background-color: tan;
    height: 90px;
    align-items: center;
    justify-content: center
}

#d3 aside, input {
    align-items: center;
    justify-self: center;
    display: flex;
}

#d3 input {
    width: 100px;
    background-color: yellow;
}

#d4 div{
    width: 33.1%;
    display: inline;
    margin-right: auto;
    margin-left: auto;
}

#d4 h3{
    justify-self: center
}